# Node modules
/node_modules

# pnpm
.pnpm-debug.log*

# Next.js build outputs
/.next/
/out/
/build

# Environment variables
.env*

# Logs
npm-debug.log*

# Vercel local config
.vercel

# Misc
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
